 <%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js') %>
 <div class="header">
 </div>
 <div class="container all-container">
    <div class="row">
        <div class="col-md-12 pd1">
            <div class="box title">
                <h3>MEOチェキ for 複数店舗</h3>
            </div>
            <div class="business-count-box">
                <h5><%= @business_name.present? ? @business_name : "" %></h5>
                <h5><%= @business_count %>店舗導入時のコストシミュレート結果</h5>
            </div>
            
             <div class="row cost-tables">
                <div>
                    <table class="cost-box" border="1" style="border-collapse: collapse">
                        <thead>
                            <tr>
                                <th class="text-center multiple-th">導入前</th>
                                <th class="text-center multiple-th">導入後</th>
                                <th class="text-center multiple-th">差額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"><%= number_to_currency(@man_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                                <td class="text-center"><%= number_to_currency(@reductioned_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true)  %></td>
                                <td class="text-center" style="color:red;"> - <%= number_to_currency(@reduction_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true)  %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="time-box" border="1" style="border-collapse: collapse">
                        <thead>
                            <tr>
                                <th class="text-center multiple-th">導入前</th>
                                <th class="text-center multiple-th">導入後</th>
                                <th class="text-center multiple-th">差分</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"><%= @time_cost_hour %> 時間</td>
                                <td class="text-center"><%= @reductioned_time_cost_hour %> 時間</td>
                                <td class="text-center" style="color:red;"> - <%= @time_cost_hour - @reductioned_time_cost_hour %> 時間</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="chart-box">
                    <div class="cost-chart">
                        <canvas id="cost-chart-pdf" class="multiple-chart"></canvas>
                    </div>
                    <div class="time-chart">
                        <canvas id="time-chart-pdf"  class="multiple-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="row reduce-box">
                <div class="cost-reduce"><h3 class="text-center">削減率 <p class="multiple"><%= @reduce_cost_rate %></p>％</h3></div>
                <div class="time-reduce"><h3 class="text-center">削減率 <p class="multiple">96</p>％</h3></div>
            </div>
            <div class="box simulate_table">
                <%= render 'simulate_table' %>
            </div>
        </div>
    </div>
</div>

