<div>
	<h1 style="text-align:center;">御 見 積 書</h1>
	<hr>
	<br>
</div>
<div class="container">
	<div class="row">
		<div class="box-1">
			<div class="box-left">
				<div>
					<h3 style="border-bottom:1px solid black; display:inline"><%= @signup.company_name %></h3>
					<h4 style="display:inline">&nbsp;&nbsp;御中</h4>
					<h5>ご担当:<%= @signup.name %>&nbsp;&nbsp;&nbsp;様</h5>
					<p>下記の通りお見積もり申し上げます。</p>
				</div>
				<div class="calc-about">
					<% case @service 
              when "MEOチェキ for 複数店舗" then %>
					契約期間：6ヶ月〜
					<% end %>
					<h5>御見積金額</h5>
					<h4>
						初期費用の合計：<%= @total_of_initial_price.present? ? number_to_currency(@total_of_initial_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) : "¥0" %>
					</h4><br>
					<h4>
						毎月のお支払い：<%= number_to_currency(@monthly_cost_without_initial_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %>
					</h4>
				</div>
			</div>
			<div class="box-right">
				<div class="row">
					株式会社トライハッチ<br><br>
					〒165-0026<br>
					東京都中野区新井２丁目１−１９<br>
					パックマートビル 6F<br>
					TEL:03-5327-8871<br><br>
					<p>発行日:&nbsp;&nbsp;<%= Time.zone.now.year %>年<%= Time.zone.now.month %>月<%= Time.zone.now.day %>日</p>
					<p>有効期限:&nbsp;&nbsp;<%= Time.zone.now.year %>年<%= Time.zone.now.month %>月<%= Time.zone.now.day %>日</p>
				</div>

			</div>
		</div>
		<div class="row m-4"></div>
		<table class="table">
			<thead>
				<th class="text-center" style="background-color:#dddddd; padding-top:0.3rem; padding-bottom:0.3rem;">品目</th>
				<%# 品目 %>
				<th class="text-center" style="background-color:#dddddd; padding-top:0.3rem; padding-bottom:0.3rem;">数量</th>
				<%# 数量 %>
				<th class="text-center" style="background-color:#dddddd; padding-top:0.3rem; padding-bottom:0.3rem;">単価</th>
				<%# 単価 %>
				<th class="text-center" style="background-color:#dddddd; padding-top:0.3rem; padding-bottom:0.3rem;">価格</th>
				<%# 価格 %>
			</thead>
			<tbody>
				<tr>
					<td style="text-align:left; "><%= @service + "  " + @plan if @plan %></td>
					<%# 品目 サービス・プラン名 %>
					<td style="text-align:right; ">1</td> <%# 数量 %>
					<td style="text-align:right; ">
						<%= @plan_value.present? ? number_to_currency(@plan_value, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) : "0"%>
					</td>
					<td style="text-align:right; ">
						<%= @plan_value.present? ? number_to_currency(@plan_value, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) : "0"%>
					</td>
				</tr>
				<% if @price_for_bulk_management.present? %>
				<tr style="text-align:left; ">
					<td style="text-align:left; ">一元管理機能</td><%# 品目 %>
					<td style="text-align:right; ">1</td> <%# 数量 %>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_bulk_management, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_bulk_management, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
				<% end %>
				<% if @price_for_meo.present? %>
				<tr>
					<td style="text-align:left; ">MEO機能</td><%# 品目 %>
					<td style="text-align:right; ">1</td> <%# 数量 %>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_meo, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_meo, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
				<% end %>
				<% if @price_for_meo_analysis.present? %>
				<tr>
					<td style="text-align:left; ">MEO分析機能</td><%# 品目 %>
					<td style="text-align:right; ">1</td> <%# 数量 %>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_meo_analysis, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_meo_analysis, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
				<% end %>
				<% if @price_for_sns_package.present? %>
				<tr>
					<td style="text-align:left; ">SNS連携パック</td><%# 品目 %>
					<td style="text-align:right; ">1</td> <%# 数量 %>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_sns_package, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_sns_package, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
				<% end %>
				<% if @price_for_advanced_ranking_information.present? %>
				<tr>
					<td style="text-align:left; ">順位計測拡張</td><%# 品目 %>
					<td style="text-align:right; ">1</td> <%# 数量 %>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_advanced_ranking_information, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_advanced_ranking_information, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
				<% end %>
				<% if @price_for_review_package.present? %>
				<tr>
					<td style="text-align:left; ">クチコミ促進パック</td><%# 品目 %>
					<td style="text-align:right; ">1</td> <%# 数量 %>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_review_package, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_review_package, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
				<% end %>
				<% if @price_for_support.present? %>
				<tr>
					<td style="text-align:left; ">初回導入・優先サポート</td><%# 品目 %>
					<td style="text-align:right; ">1</td> <%# 数量 %>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_support, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_support, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
				<% end %>

				<% if @price_for_initial_registration.present? %>
				<tr>
					<td style="text-align:left; ">初回登録代行サポート</td><%# 品目 %>
					<td style="text-align:right; ">1</td> <%# 数量 %>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_initial_registration, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@price_for_initial_registration, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
				<% end %>

				<% if @init_price.present? %>
				<tr style="text-align:left;">
					<td> 初期費用 </td> <%# 品目 %>
					<td style="text-align:right;"> 1 </td> <%# 数量 %>
					<td style="text-align:right;">
						<%= number_to_currency(@init_price, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
					<td style="text-align:right;">
						<%= number_to_currency(@init_price, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
				<% end %>

				<tr>
					<td style="border-top:none; border-bottom:none;"></td>
					<td style="border-top:none; border-bottom:none;"></td>
					<td style="text-align:left; ">小計</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@monthly_price, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>

				<tr>
					<td style="border-top:none; border-bottom:none;"></td>
					<td style="border-top:none; border-bottom:none;"></td>
					<td style="text-align:left; ">消費税</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@sales_tax, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>

				<tr>
					<td style="border-top:none; border-bottom:none;"></td>
					<td style="border-top:none; border-bottom:none;"></td>
					<td style="text-align:left; ">合計</td>
					<td style="text-align:right; ">
						<%= number_to_currency(@total_price, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>