<div>
    <h1 style="text-align:center;">御 見 積 書</h1>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="box-1">
            <div class="box-left">
                <div>
                <h3><%= @signup.company_name %>御中</h3>
                <h3>ご担当:<%= @signup.name %></h3>
                    <p>見積もり日:<%= Time.zone.now.year %>年<%= Time.zone.now.month %>月<%= Time.zone.now.day %>日</p>
                    <p>下記の通りお見積もり申し上げます。</p>
                </div>
                <div class="calc-about">
                    <h5>サービス名：<%= @service %></h5>
                    <% if @plan.present? %>
                    <h5>サービス名：<%= @plan %></h5>
                    <% end %>
                    <% case @service 
                        when "MEOチェキ for 複数店舗" then %>
                        契約期間：6ヶ月〜
                    <% end %>
                    <%
=begin%>
 <h5>契約期間：<%= @pran_period <= 6 || !@pran_period.present? ? "6" : @pran_period %>ヶ月</h5> 
<%
=end%>
                </div>
            </div>
            <div class="box-right">
                <div class="row">
                    株式会社トライハッチ<br>
                    〒165-0026<br>
                    東京都中野区新井２丁目１−１９<br>
                    パックマートビル 6F<br>
                    TEL:03-5327-8871<br>
                </div>
                <%
=begin%>
 <div class="row calc-price">
                    <h4>初期費用(税込)：<%= @init_price.present? ? number_to_currency(@init_price_in_tax, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) : "¥0" %></h4><br>
                    <h4><%= @pran_period == 1 ? "月額費用(税別)" : "費用(税込)" %>：<%= number_to_currency(@in_tax_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></h4>
                    <p>消費税：<%= number_to_currency(@tax, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></p>
                    <% if @init_price.present? %>
                        <h4>初月合計(税込)：<%= number_to_currency(@in_init_tax_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></h4>
                        <p>消費税：<%= number_to_currency(@in_init_tax, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></p>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row m-4"></div>
        <table class="table table-bordered">
            <thead>
                <th class="text-center">サービス名</th>
                <th class="text-center">数量</th>
                <th class="text-center">単価(税別)</th>
                <th class="text-center">初期費用(税別)</th>
                <th class="text-center"><%= @pran_period == 1 ? "月額費用(税別)" : "費用(税別)" %></th>
            </thead>
            <tbody>
                <tr>
                    <td><%= @plan_name %></td>
                    <td>1</td>
                    <td><%= number_to_currency(@plan_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                    <td><%= @init_price.present? ? number_to_currency(@init_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) : "¥0" %></td>
                    <td><%= number_to_currency(@plan_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                </tr>
                <% if @add_loc_count.present? && @add_loc_count >= 1 %>
                    <tr>
                        <td>追加検索地点</td>
                        <td><%= @pran_period == 1 ? @add_loc_count : "#{@add_loc_count} × #{@pran_period}ヶ月"%></td>
                        <td>¥300</td>
                        <td>¥0</td>
                        <td><%= number_to_currency(@add_loc_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                    </tr>
                <% end %>
                <% if @add_time_count.present? && @add_time_count >= 1 %>
                    <tr>
                        <td>追加検索時間</td>
                        <td><%= @pran_period == 1 ? @add_time_count : "#{@add_time_count} × #{@pran_period}ヶ月" %></td>
                        <td>¥150</td>
                        <td>¥0</td>
                        <td><%= number_to_currency(@add_time_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                    </tr>
                <% end %>
                <% if @post_price.present? && @post_price >= 1 %>
                    <tr>
                        <td>投稿機能</td>
                        <td>1</td>
                        <td><%= number_to_currency(@post_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                        <td>¥0</td>
                        <td><%= number_to_currency(@post_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                    </tr>
                <% end %>
                <% if @auto_reply_reviews_price.present? && @auto_reply_reviews_price >= 1 %>
                    <tr>
                        <td>口コミ管理・自動返信機能</td>
                        <td>1</td>
                        <td><%= number_to_currency(@auto_reply_reviews_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                        <td>¥0</td>
                        <td><%= number_to_currency(@auto_reply_reviews_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                    </tr>
                <% end %>
                <% if @report_price.present? && @report_price >= 1 %>
                    <tr>
                        <td>レポート機能</td>
                        <td>1</td>
                        <td><%= number_to_currency(@report_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                        <td>¥0</td>
                        <td><%= number_to_currency(@report_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                    </tr>
                <% end %>
                <% if @bulk_edit_price.present? && @bulk_edit_price >= 1 %>
                    <tr>
                        <td>一括編集機能</td>
                        <td>1</td>
                        <td><%= number_to_currency(@bulk_edit_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                        <td>¥0</td>
                        <td><%= number_to_currency(@bulk_edit_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                    </tr>
                <% end %>
                <% if @license_price %>
                    <tr>
                        <td>ライセンス料</td>
                        <td>1</td>
                        <td><%= number_to_currency(@license_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                        <td>¥0</td>
                        <td><%= number_to_currency(@license_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                    </tr>
                <% end %>
                <% if @message_count.present? && @message_count >= 50 %>
                    <tr>
                        <td>追加送信件数</td>
                        <td><%= @message_count %></td>
                        <td>¥1000</td>
                        <td>¥0</td>
                        <td><%= number_to_currency(@message_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                    </tr>
                <% end %>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="background-color: #CCFFFF;">合計</td>
                    <td><%= number_to_currency(@total_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                </tr>
            </tbody>
        </table> 
<%
=end%>
    </div>
</div>