<div>
	<h1 style="text-align:center;">御 見 積 書</h1>
	<hr>
	<br>
</div>
<div class="container">
	<div class="row">
		<div class="box-1">
			<div class="box-left">
				<div>
					<h3 style="border-bottom:1px solid black; display:inline"><%= @signup.company_name %></h3>
					<h4 style="display:inline">&nbsp;&nbsp;御中</h4><br><br>
					<p class="mt-2" style="display:inline">ご担当:<h5 style="display:inline"><%= @signup.name %>&nbsp;&nbsp;様</h5>
					</p>
					<p>下記の通りお見積もり申し上げます。</p>
					<p style="display:inline">プラン名:</p>
					<h5 style="display:inline"><%= @service + "  " + @plan if @plan %></h5><br>

					<% if @number_of_business.present? %>
					<p style="display:inline">店舗数:&nbsp;&nbsp;</p>
					<h5 style="display:inline"><%= @number_of_business %></h5><br>
					<% end %>

					<% if @keywords.present? %>
					<p style="display:inline">キーワード数:</p>
					<h4 style="display:inline"><%= @keywords %></h4>
					<% end %>
				</div>

				<div class=""><br>
					<% if @total_of_initial_price.present? %>
					<p style="display:inline">導入初期費用を含む初月のお支払い額合計：</p>
					<h4 style="display:inline">
						<%= number_to_currency(@total_of_initial_price, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %>
					</h4><br>
					<% end %>
					<p style="display:inline">月ごとのサービス使用料（2ヶ月目以降）：</p>
					<h4 style="display:inline">
						<%= number_to_currency(@monthly_cost_with_sales_tax, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %>
					</h4>
				</div>
			</div>
			<div class="box-right">
				<div class="row">
					株式会社トライハッチ<br><br>
					〒165-0026<br>
					東京都中野区新井２丁目１−１９<br>
					パックマートビル 6F<br>
					TEL:03-5327-8871<br><br>
					発行日:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= Time.zone.now.year %>年<%= Time.zone.now.month %>月<%= Time.zone.now.day %>日<br>
					有効期限:&nbsp;&nbsp;<%= Time.zone.now.year %>年<%= Time.zone.now.month %>月<%= Time.zone.now.day %>日
				</div>
			</div>
		</div><br><br><br>
		<div class="row m-3" style="">
			<table class="table">
				<thead>
					<th class="text-center" style="background-color:#dddddd; padding-top:0.3rem; padding-bottom:0.3rem;">品目</th>
					<%# 品目 %>
					<th class="text-center" style="background-color:#dddddd; padding-top:0.3rem; padding-bottom:0.3rem;">数量</th>
					<%# 数量 %>
					<th class="text-center" style="background-color:#dddddd; padding-top:0.3rem; padding-bottom:0.3rem;">単価</th>
					<%# 単価 %>
					<th class="text-center" style="background-color:#dddddd; padding-top:0.3rem; padding-bottom:0.3rem;">価格</th>
					<%# 価格 %>
				</thead>
				<tbody>
					<tr>
						<td style="text-align:left; "><%= @service + "  " + @plan if @plan %></td>
						<%# 品目 サービス・プラン名 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= @plan_value.present? ? number_to_currency(@plan_value, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) : "0"%>
						</td>
						<td style="text-align:right; ">
							<%= @plan_value.present? ? number_to_currency(@plan_value, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) : "0"%>
						</td>
					</tr>
					<% if @price_for_bulk_management.present? %>
					<tr>
						<td style="text-align:left; ">一元管理機能</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_bulk_management, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_bulk_management, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>
					<% if @price_for_meo.present? %>
					<tr>
						<td style="text-align:left; ">MEO機能</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_meo, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_meo, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>
					<% if @price_for_meo_analysis.present? %>
					<tr>
						<td style="text-align:left; ">MEO分析機能</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_meo_analysis, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_meo_analysis, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>
					<% if @price_for_sns_package.present? %>
					<tr>
						<td style="text-align:left; ">SNS連携パック</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_sns_package, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_sns_package, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>
					<% if @price_for_advanced_ranking_information.present? %>
					<tr>
						<td style="text-align:left; ">順位計測拡張</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_advanced_ranking_information, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_advanced_ranking_information, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>
					<% if @price_for_review_package.present? %>
					<tr>
						<td style="text-align:left; ">クチコミ促進パック</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_review_package, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_review_package, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @price_for_post.present? %>
					<tr>
						<td style="text-align:left; ">投稿機能</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_post, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_post, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @price_for_report.present? %>
					<tr>
						<td style="text-align:left; ">レポート機能</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_report, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_report, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @price_for_review_management.present? %>
					<tr>
						<td style="text-align:left; ">クチコミ管理・自動返信機能</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_review_management, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_review_management, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @price_for_bulk_edit.present? %>
					<tr>
						<td style="text-align:left; ">一括編集・改ざん防止機能</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_bulk_edit, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_bulk_edit, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @price_for_analysis.present? %>
					<tr>
						<td style="text-align:left; ">
							内部分析・競合分析・サイテーション分析機能
						</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_analysis, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_analysis, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @price_for_license.present? %>
					<tr>
						<td style="text-align:left; ">ツール名変更・ライセンス取得</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_license, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_license, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @price_for_bulk_registration.present? %>
					<tr>
						<td style="text-align:left; ">一括店舗登録</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_bulk_registration, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_bulk_registration, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @price_for_support.present? %>
					<tr>
						<td style="text-align:left; ">初回導入・優先サポート</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_support, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_support, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @price_for_initial_registration.present? %>
					<tr>
						<td style="text-align:left; ">初回登録代行サポート</td><%# 品目 %>
						<td style="text-align:right; ">1</td> <%# 数量 %>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_initial_registration, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@price_for_initial_registration, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<% if @init_price.present? %>
					<tr>
						<td style="text-align:left;"> 初期費用 </td> <%# 品目 %>
						<td style="text-align:right;"> 1 </td> <%# 数量 %>
						<td style="text-align:right;">
							<%= number_to_currency(@init_price, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
						<td style="text-align:right;">
							<%= number_to_currency(@init_price, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
					<% end %>

					<tr>
						<td style="border-top:none; border-bottom:none;"></td>
						<td style="border-top:none; border-bottom:none;"></td>
						<td style="text-align:left; ">小計</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@subtotal, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>

					<tr>
						<td style="border-top:none; border-bottom:none;"></td>
						<td style="border-top:none; border-bottom:none;"></td>
						<td style="text-align:left; ">消費税</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@sales_tax, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>

					<tr>
						<td style="border-top:none; border-bottom:none;"></td>
						<td style="border-top:none; border-bottom:none;"></td>
						<td style="text-align:left; ">合計</td>
						<td style="text-align:right; ">
							<%= number_to_currency(@total_price, :format => "%u%n", :unit => "", strip_insignificant_zeros: true) %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row" style="">
			<p>備考</p>
			<table border="1" style="border-collapse: collapse">
				<tr>
					<th style="border:none;">契約期間：</th>
					<td style="border:none;"><% case @service 
              when "MEOチェキ for 複数店舗" then %>
						6ヶ月〜
						<% end %></td>
				</tr>
			</table>
		</div>
	</div>
</div>