<h1>料金シミュレーションからお問い合わせがありました</h1>
<h2>٩(ˊᗜˋ*)و</h2>
--------------------------<br>
会社名: <%= @inquiry.company_name %><br>
部署名: <%= @inquiry.department %><br>
ご担当者様: <%= @inquiry.name %><br>
メールアドレス: <%= @inquiry.email %><br>
電話番号: <%= @inquiry.phone_number %><br>
お客様について: <%= @inquiry.type_of_business %><br>
導入予定の店舗数: <%= @inquiry.numbers_of_store %><br>
導入をご検討されているサービス: <br>
MEOチェキ: <%= @inquiry.meo_cheki %><br>
MEO対策コンサルティング: <%= @inquiry.meo_support %><br>
星カクトくんα: <%= @inquiry.hoshikakutokun %><br>
お問い合わせ内容: <br>
<%= @inquiry.content %><br>

--------------------------