<h2>料金シミュレーションからお申し込みがありました</h2>
===========================================<br>
お申し込みのサービス: <%= @service %><br>
<% if @plan %>
お申し込みのプラン: <%= @plan %><br>
<% end %>
<% if @number_of_business %>
お申し込みの店舗数: <%= @number_of_business %><br>
<% end %>
<% if @keywords %>
お申し込みのキーワード数: <%= @keywords %><br>
<% end %>
<% if @feature %>
お申し込みの機能: <div class="" style="text-align: left; list-style: none"><%= @feature.html_safe %></div><br>
<% end %>

会社名: <%= @signup.company_name %><br>
部署名: <%= @signup.department %><br>
ご担当者様: <%= @signup.name %><br>
メールアドレス: <%= @signup.email %><br>
電話番号: <%= @signup.phone_number %><br>
お問い合わせ内容: <br>
<%= @signup.content %><br>
--------------------------