<h1>料金シミュレーションからお申し込みがありました</h1>
<h2>٩(ˊᗜˋ*)و</h2>
--------------------------<br>
お申し込みのサービス: <%= @service %><br>
お申し込みのプラン: <%= @plan %><br>
会社名: <%= @signup.company_name %><br>
部署名: <%= @signup.department %><br>
ご担当者様: <%= @signup.name %><br>
メールアドレス: <%= @signup.email %><br>
電話番号: <%= @signup.phone_number %><br>
お問い合わせ内容: <br>
<%= @signup.content %><br>
--------------------------