<%= javascript_include_tag 'components/meocheki_calc' %>
<%= render 'shared/notification' %>

<div class="page-title-lv1 col-md-12">
  <span>
    <p>最適なおすすめプランがすぐわかる♪</p>
    <h1>プラン別 機能・料金一覧表</h1>
  </span>
</div>
<div class="page-title-lv2 col-md-12">
  <h4>星カクトくん</h4>
  <div class="row">
    <span class="ml-3" style="font-weight:bold;">
      Googleマップや各種SNS、予約ポータルサイトのクチコミをまとめて管理！アンケート・口コミ依頼機能によってレビュー獲得を促進します
    </span>
  </div>
</div>
<div class="container">
  <div class="row mt-4">
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card shadow-sm border-info">
          <div class="card-header bg-meo hidden">
            <h4 class="my-0 font-weight-normal"><%= @normal["name"]%></h4>
          </div>
          <div class="card-body nowrap hidden">
            <h1 class="card-title pricing-card-title">￥<%= @normal["month_price"].to_s(:delimited) %> <small
                class="text-muted">/ 月</small></h1>
            <%= button_to "申し込み", {controller: 'signups', action: 'new'}, {method: :get, class: "btn btn-lg btn-block btn-primary", params: {service: '星カクトくん', plan: '星カクトくんα'}} %>
            <ul class="list-unstyled mt-3 mb-4">

              <li class="mt-3"><small>対象サービス</small></li><%# ロゴで代用？ %>
              <li class="bold">
                <h5>Google, Yahoo!, Ekiten<br>ホットペッパー, Instagram<br>Facebook, E-PARK</h5>
              </li>

              <li class="mt-3"><small>クチコミ管理機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>クチコミ依頼機能</small></li>
              <li class="bold">
                <h3>SMS & Eメール</h3>
              </li>

              <li class="mt-3"><small>オペレーターによる個別サポート</small></li>
              <li class="bold">
                <h3>2回/月</h3>
              </li>

              <li class="mt-3"><small>口コミネガポジ判定</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>クーポン作成機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>アンケート依頼・管理機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>目標設定・管理機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>KPI設定・確認機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>オペレーターによるサポート</small></li>
              <li class="bold">月3回まで無料で対応！</li>

              <li class="mt-3"><small>投稿予約機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>クチコミ自動返信機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>QRコード生成・POP作成機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>GoogleMyBusiness順位計測</small></li>
              <li class="bold">
                <h3>-</h3>
              </li>

              <li class="mt-3"><small>GoogleMyBusinessインサイト確認</small></li>
              <li class="bold">
                <h3>-</h3>
              </li>

              <li class="mt-3"><small>MEO機能</small></li>
              <li class="bold">
                <h3>-</h3>
              </li>
            </ul>
          </div>
        </div>
        <div class="card shadow-sm border-info">
          <div class="card-header bg-meo hidden">
            <h4 class="my-0 font-weight-normal"><%= @plus["name"]%></h4>
          </div>
          <div class="card-body nowrap hidden">
            <h1 class="card-title pricing-card-title">￥<%= @plus["month_price"].to_s(:delimited) %> <small
                class="text-muted">/ 月</small></h1>
            <%= button_to "申し込み", {controller: 'signups', action: 'new'}, {method: :get, class: "btn btn-lg btn-block btn-primary", params: {service: '星カクトくん', plan: '星カクトくん+α'}} %>
            <ul class="list-unstyled mt-3 mb-4">

              <li class="mt-3"><small>対象サービス</small></li><%# ロゴで代用？ %>
              <li class="bold">
                <h5>Google, Yahoo!, Ekiten<br>ホットペッパー, Instagram<br>Facebook, E-PARK</h5>
              </li>

              <li class="mt-3"><small>クチコミ管理機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>クチコミ依頼機能</small></li>
              <li class="bold">
                <h3>SMS & Eメール</h3>
              </li>

              <li class="mt-3"><small>オペレーターによる個別サポート</small></li>
              <li class="bold">
                <h3>2回/月</h3>
              </li>

              <li class="mt-3"><small>口コミネガポジ判定</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>クーポン作成機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>アンケート依頼・管理機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>目標設定・管理機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>KPI設定・確認機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>オペレーターによるサポート</small></li>
              <li class="bold">月5回まで無料で対応！</li>

              <li class="mt-3"><small>投稿予約機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>クチコミ自動返信機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>QRコード生成・POP作成機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>GoogleMyBusiness順位計測</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>GoogleMyBusinessインサイト確認</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>MEO機能</small></li>
              <li class="bold">
                <h3>-</h3>
              </li>
            </ul>
          </div>

        </div>
        <div class="card shadow-sm border-info">
          <div class="card-header bg-meo hidden">
            <h4 class="my-0 font-weight-normal"><%= @meo["name"]%></h4>
          </div>
          <div class="card-body nowrap hidden">
            <h1 class="card-title pricing-card-title">￥<%= @meo["month_price"].to_s(:delimited) %> <small
                class="text-muted">/ 月</small></h1>
            <%= button_to "申し込み", {controller: 'signups', action: 'new'}, {method: :get, class: "btn btn-lg btn-block btn-primary", params: {service: '星カクトくん', plan: '星カクトくん+α'}} %>
            <ul class="list-unstyled mt-3 mb-4">

              <li class="mt-3"><small>対象サービス</small></li><%# ロゴで代用？ %>
              <li class="bold">
                <h5>Google, Yahoo!, Ekiten<br>ホットペッパー, Instagram<br>Facebook, E-PARK</h5>
              </li>

              <li class="mt-3"><small>クチコミ管理機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>クチコミ依頼機能</small></li>
              <li class="bold">
                <h3>SMS & Eメール</h3>
              </li>

              <li class="mt-3"><small>オペレーターによる個別サポート</small></li>
              <li class="bold">
                <h3>2回/月</h3>
              </li>

              <li class="mt-3"><small>口コミネガポジ判定</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>クーポン作成機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>アンケート依頼・管理機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>目標設定・管理機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>KPI設定・確認機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>オペレーターによるサポート</small></li>
              <li class="bold">月5回まで無料で対応！</li>

              <li class="mt-3"><small>投稿予約機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>クチコミ自動返信機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>QRコード生成・POP作成機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>GoogleMyBusiness順位計測</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>GoogleMyBusinessインサイト確認</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>

              <li class="mt-3"><small>MEO機能</small></li>
              <li class="bold">
                <h3>⭕</h3>
              </li>
            </ul>
          </div>