<div class="col-md-12">
	<section class="section-container-lv1">
		<header class="title-container">
		<h1 class="title-lv1">ご利用開始までの流れ</h1>
		</header>

		<section class="section-lv1">
		<div class="box-text-01">
			<h2 class="title-lv2">お申し込み・問い合わせ</h2>
		</div>
		<div class="panel-col row">
			<div class="panel-col-left col-md-6" style="background: skyblue">
			<%= image_tag 'WEBページのアイコン.png', class:'icon' %>
			<%= image_tag 'ノートPCアイコン.png', class:'icon' %>
			</div>
			<div class="panel-col-right col-md-6" style="background: pink">
			<ul class="list-lv1">
			<li class="list-lv1-itme">
			・こちらのフォームよりお気軽にお問い合わせください
			</li>
			<li class="list-lv1-itme">
			・必要事項を入力し「送信ボタン」を押すだけで完了です
			</li>
			</ul>
			<br>
			</div>
		</div>
		</section>

		<section class="section-lv1">
		<div class="box-text-01">
			<h2 class="title-lv2">担当営業から連絡・打ち合わせ</h2>
		</div>
		<div class="panel-col row">
			<div class="panel-col-left col-md-6" style="background: skyblue">
			<%= image_tag 'サラリーマン.png', class:'icon' %>
			<%= image_tag '電話発信中のフリーアイコン.png', class:'icon' %>
			</div>
			<div class="panel-col-right col-md-6" style="background: pink">
			<ul class="list-lv1">
			<li class="list-lv1-itme">
			・お問い合わせいただいてから２日以内に、弊社担当者からお電話orEメールにてご連絡させていただきます。
			</li>
			<li class="list-lv1-itme">
			・オンライン・オフラインで打ち合わせを実施させていただき、
			お客様のご質問や現状の課題等についてお話を伺いながら、最適なツール・プランの組み合わせをご提案させていただきます。
			</li>
			</ul>
			<br>
			</div>
		</div>
		</section>

		<section class="section-lv1">
		<div class="box-text-01">
			<h2 class="title-lv2">ご契約・アカウント発行</h2>
		</div>
		<div class="panel-col row">
			<div class="panel-col-left col-md-6" style="background: skyblue">
			<%= image_tag 'サラリーマン.png', class:'icon' %>
			<%= image_tag '電話発信中のフリーアイコン.png', class:'icon' %>
			</div>
			<div class="panel-col-right col-md-6" style="background: pink">
			<ul class="list-lv1">
			<li class="list-lv1-itme">
			・お問い合わせいただいてから２日以内に、弊社担当者からお電話orEメールにてご連絡させていただきます。
			</li>
			<li class="list-lv1-itme">
			・オンライン・オフラインで打ち合わせを実施させていただき、
			お客様のご質問や現状の課題等についてお話を伺いながら、最適なツール・プランの組み合わせをご提案させていただきます。
			</li>
			</ul>
			<br>
			</div>
		</div>
		</section>

			<section class="section-lv1">
		<div class="box-text-01">
			<h2 class="title-lv2">ご利用開始</h2>
		</div>
		<div class="panel-col row">
			<div class="panel-col-left col-md-6" style="background: skyblue">
			<%= image_tag 'サラリーマン.png', class:'icon' %>
			<%= image_tag '電話発信中のフリーアイコン.png', class:'icon' %>
			</div>
			<div class="panel-col-right col-md-6" style="background: pink">
			<ul class="list-lv1">
			<li class="list-lv1-itme">
			・お問い合わせいただいてから２日以内に、弊社担当者からお電話orEメールにてご連絡させていただきます。
			</li>
			<li class="list-lv1-itme">
			・オンライン・オフラインで打ち合わせを実施させていただき、
			お客様のご質問や現状の課題等についてお話を伺いながら、最適なツール・プランの組み合わせをご提案させていただきます。
			</li>
			</ul>
			<br>
		</div>
		</section>
	</section>
</div>