<div class="row m-4"></div>
<div class="container">
    <div class="row">
        <div class="border shadow col-md-7" style="margin-right: 1em;padding: 1em;">
            <div class="row">
                <div class="col-8">
                    <%= text_field_tag :business_name, "", {class: "form-control", style: "margin-bottom:1em;", placeholder: "御社名をご記入ください",required: true}  %>
                    <%= email_field_tag :email, "", {class: "form-control",placeholder: "メールアドレスをご記入ください",required: true}  %>
                </div>
                <div class="col-1"></div>
                <div id="select-payment-type" class="col-3" style="display:none;">
                    <div class="row">
                        <%= label :payment_type, '1ヶ月契約' %>
                        <%= check_box_tag :payment_type,"credit_discount_month_price", false, {id: "one_month",class: "payment_type", multiple:false} %>
                    </div>
                    <div class="row">
                        <%= label :payment_type, '半年契約' %>
                        <%= check_box_tag :payment_type,"price_half_year",false, {id: "half_year",class: "payment_type", multiple:false} %>
                    </div>
                    <div class="row">
                        <%= label :payment_type, '１年契約' %>
                        <%= check_box_tag :payment_type,"price_one_year",false, {id: "one_year",class: "payment_type", multiple:false} %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"  style="padding: 1em;">
            <div>
                <%= submit_tag "見積書ダウンロード", {name: "download", style: "margin-bottom:1em;",class: "btn btn-success"} %><br>
                <%= submit_tag "申し込む", {name: "contract", class: "btn btn-success"} %>
            </div>
        </div>
    </div>
</div>