<p><% @signup.company_name %></p>
<p><% @signup.name %>&nbsp;様</p><br>

<p>この度はお見積書のダウンロードありがとうございました。</p>

-------------------------------------------------<br>
■ 会社名：<%= @signup.company_name %><br>
■ 部署名：<%= @signup.department %><br>
■ お名前：<%= @signup.name %><br>
■ Eメール：<%= @signup.email %><br>
■ 電話番号：<%= @signup.phone_number %><br>

■ サービス名：<%= @service %><br>
<% if @plan %>
■ プラン名：<%= @plan %>
<% end %>

<% if @number_of_business %>
お申し込みの店舗数: <%= @number_of_business %><br>
<% end %>
<% if @keywords %>
お申し込みのキーワード数: <%= @keywords %><br>
<% end %>


株式会社トライハッチ<br>
東京都中野区新井２丁目１−１９<br>
パックマートビル 6F<br><br>

お問い合わせ用Eメールアドレス：<br>
sales@tryhatch.co.jp<br>

※当メールは配信専用メールアドレスから送信しております。ご返信いただいてもお答えできませんのでご了承ください。<br>
※ご不明点などがございましたら、ぜひ上記のEメールアドレスよりお気軽にお問い合わせください。