<%= javascript_include_tag 'components/rental_plans' %>
<div class="row m-4"></div>
<%= form_tag 'download_rental' do %>
<div class="container">
    <div class="row">
        <div class="border shadow col-md-7" style="padding: 1em;">
            <div class="box">
                <div class="">
                    <h4>月間順位取得キーワード数</h4>
                    キーワード数により月額費用が変化します。(契約期間12ヶ月〜)
                    <div class="row">
                        <%= select_tag "plans", options_from_collection_for_select(@rental_plan_prices, :price, :keyword_count), {include_blank: "選択する", class: "col-md-4 form-control price rental", style: "margin-left: 1em;"} %>
                        <div class="col-md-3 d-flex align-items-end">kw/月</div>
                        <div class="col-md-10" style="margin:1em 0;">
                            <p style="display:inline;"> ※1店舗あたり４kw設定の場合は</p><p id="business-count-key" style="display:inline;">---</p><p style="display:inline;">店舗まで</p>
                        </div>
                        <% hidden_field_tag :init_price,  @plans.init_price %>
                    </div>
                    <div class="row m-2"></div>
                    <h4>追加機能</h4>
                    <p>※追加機能も上記キーワード数に応じて変化します。</p>
                    <div class="form-check col-5">
                        <%= check_box_tag :post, true, false, {id: "post", class: "form-check-input addition price rental"} %>
                        <label class="form-check-label" for="post">投稿機能</label>
                    </div>
                    <div class="form-check col-5">
                        <%= check_box_tag :auto_reply_reviews, true, false, {class: "form-check-input addition price rental", id: "auto_reply_reviews"} %>
                        <label class="form-check-label" for="auto_reply_reviews">口コミ自動返信機能</label>
                    </div>
                    <div class="form-check col-5">
                        <%= check_box_tag :report, true, false, {class: "form-check-input addition price rental", id: "report"} %>
                        <label class="form-check-label" for="report">レポート機能</label>
                    </div>
                    <div class="row m-2"></div>
                    <h4>ライセンス</h4>
                    <p>※ツール名変更のライセンス料(月額:12ヶ月〜)</p>
                    <div class="form-check  col-5">
                        <%= check_box_tag :license, true, false, {class: "form-check-input addition price rental", id: "license"} %>
                        <label class="form-check-label" for="license">ライセンス取得</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="border shadow col-md-4" >
            <p class="right-calc">(1)料金</p>
            <div>
                <ul>
                    <li>基本料金<br>
                        ¥<p id="plan-value" style="display:inline;">---</p> /月
                    </li>
                    <li>追加料金<br>
                        ¥<p id="additional-value" style="display:inline;">---</p> /月
                    </li>
                    <li>初期費用<br>
                        ¥<p id="plan-value" style="display:inline;"><%= @plans.init_price %></p>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <h5>合計金額</h5>
                </div>
            </div>
            <div>
                <ul>
                    <li>月額料金</li>
                        ¥<p id="total-value" style="display:inline;">0</p> /月
                    <li>初月料金</li>
                        ¥<p id="total-init-value" style="display:inline;">0</p> /月
                </ul>
            </div>
            <div class="row m-4"></div>
            <p class="right-calc">(2)機能</p>
            <div class="function" >
                <ul>
                    <li>カレンダーチャート</li>
                    <li>折れ線グラフチャート</li>
                    <li>インサイト表示</li>
                    <li>CSV出力</li>
                    <li>投稿機能</li>
                    <li>メモ機能</li>
                    <li>星カクトくん</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%= render 'shared/submit_form'%>
<% end %>