<%
=begin%>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js' %>
<%
=end%>

<%= javascript_include_tag 'components/multiple_stores' %>

<%= render 'shared/notification' %>
<%
=begin%>
<%= form_tag 'download_rental' do %>
<%
=end%>
<%= render 'shared/page-title-lv1' %>
<div class="page-title-lv2 col-md-12">
	<h4>MEOチェキ for 複数店舗</h4>
	<div class="row">
		<span class="ml-3" style="font-weight:bold;">
			多店舗のGoogleマイビジネスやSNSアカウント・口コミサイトを一括管理!
		</span>
	</div>
</div>

<div class="row mt-3">
	<div class="col-md-12">
		<div class="row">
			<div class="border col-md-8 simulator-box">
				<div class="box">
					<div class="">
						<div class="non_restricted_container mt-2">
							<h4>STEP<span class="meo-theme-color">01</span>店舗数を選択する</h4>
							利用をご希望される店舗数をお選びください。
							<div class="row mt-2">
								<%= select_tag "plans", options_for_select(@numbers_of_businesses.map {|key, value| [key, key] }), {include_blank: "選択する", class: "col-md-4 form-control price rental price-trigger", style: "margin-left: 1em;"} %>
								<div class="col-md-10" style="margin:1em 0;">
									<p style="display:inline;"> ※1店舗あたり毎日約４キーワードの順位取得を行う条件での店舗数です</p>
									<br>
									<p style="display:inline;">
										※1000店舗以上への導入コストについては、<%= link_to("こちら", "/inquiry/new") %>よりお問い合わせください
									</p>
								</div>
							</div>
						</div>

						<div class="row m-1"></div>
						<h4>STEP<span class="meo-theme-color">02</span>利用したい機能を選択する</h4>
						<p>※追加機能の料金も上記店舗数に応じて変化します。</p>

						<div class="option-group form-check ">

							<label class="form-check-label txt-center col-md-6" for="bulk_management">
								<input type="checkbox" name="check" id="bulk_management" value="一元管理機能" auocomplete="off">
								<span>
									<div class="title">一元管理機能</div>
									<hr>
									・Googleマイビジネス/
									Facebook/
									Yahoo!プレイス
									<br>・Googleマイビジネス改ざん防止機能
									<br>・一括投稿/予約投稿機能
									<br>・全店舗インサイトデータの横断比較
									<br><span id="bulk_management_price">-</span>円<small>/月</small>
								</span>
							</label>

							<label class="form-check-label txt-center col-md-6" for="meo">
								<input type="checkbox" name="check" id="meo" value="MEO機能" auocomplete="off">
								<span>
									<div class="title">MEO機能</div>
									<hr>
									・検索順位の計測（4キーワードまで/1店舗）
									<br>・クチコミ管理/分析機能
									<br>・クチコミ自動返信機能
									<br>・レポーティング機能
									<br><span id="meo_price">-</span>円<small>/月</small>
								</span>
							</label>
							<br>

							<label class="form-check-label txt-center col-md-6" for="meo_analysis">
								<input type="checkbox" name="check" id="meo_analysis" value="MEO分析機能" auocomplete="off">
								<span>
									<div class="title">MEO分析機能</div>
									<hr>
									Googleマイビジネス基本分析機能
									<br>・Googleマイビジネス競合比較機能
									<br>・サイテーション分析機能
									<br>
									<br><span id="meo_analysis_price">-</span>円<small>/月</small>
								</span>
							</label>


							<label class="form-check-label txt-center col-md-6" for="sns_package">
								<input type="checkbox" name="check" id="sns_package" value="SNS連携パック" auocomplete="off">
								<span>
									<div class="title">SNS連携パック</div>
									<hr>
									・Instagram投稿・予約投稿連携
									<br>・LINE@投稿・予約投稿連携
									<br>・Twitter投稿・予約投稿連携
									<br>（1店舗月間30ツイートまで）
									<br><span id="sns_package_price">-</span>円<small>/月</small>
								</span>
							</label>
							<br>

							<label class="form-check-label txt-center col-md-6" for="advanced_ranking_information">
								<input type="checkbox" name="check" id="advanced_ranking_information" value="順位計測拡張" auocomplete="off">
								<span>
									<div class="title">順位計測拡張</div>
									<hr>
									・100位までの順位を計測・取得<br>（4キーワードまで/1店舗）
									<br>・クチコミ管理/分析機能
									<br>・クチコミ自動返信機能
									<br>・レポーティング機能
									<br><span id="advanced_ranking_information_price">-</span>円<small>/月</small>
								</span>
							</label>

							<label class="form-check-label txt-center col-md-6" for="review_package">
								<input type="checkbox" name="check" id="review_package" value="クチコミ促進パック" auocomplete="off">
								<span>
									<div class="title">クチコミ促進パック</div>
									<hr>
									・100位までの順位を計測・取得<br>（4キーワードまで/1店舗）
									<br>・SMS/Eメールによるクチコミ依頼
									<br>・SMS/Eメールによるアンケート依頼
									<br>（上記2つで一店舗月間30通まで利用可能）
									<br><span id="review_package_price">-</span>円<small>/月</small>
								</span>
							</label>
							<br>

							<br>
						</div>

						<div class="row m-1"></div>
						<h4>STEP<span class="meo-theme-color">03</span>サービス導入時のサポートを追加する</h4>
						<p>※料金が割引になるお得なキャンペーンも随時行っております</p>

						<div class="option-group form-check ">

							<label class="form-check-label txt-center col-md-6" for="support">
								<input type="checkbox" name="check2" id="support" value="初回導入・優先サポート" auocomplete="off">
								<span>
									<div class="title">初回導入・優先サポート</div>
									<hr>
									・初回導入サポート（30分×2回のTV会議）
									<br>初回の店舗一括登録業務
									<br>月次の定例会（30分/月）
									<br>お問い合わせの優先対応
									<br><span id="support_price">-</span>円<small>/月</small>
								</span>
							</label>

							<label class="form-check-label txt-center col-md-6" for="initial_registration">
								<input type="checkbox" name="check2" id="initial_registration" value="初回登録代行サポート" auocomplete="off">
								<span>
									<div class="title">初回登録代行サポート</div>
									<hr>
									<br>
									<br><small>※プレスリリースの出稿及びITReviewの投稿を行って頂けた場合、</small>
									<br><small>初回登録代行サポート費用は全て無料になります！</small>
									<br><span id="initial_registration_price">-</span>円<small>/月</small>
								</span>
							</label>
							<br>
						</div>
					</div>
				</div>
			</div>
			<div class="border col-md-3 simulator-box">
				<h5 class="right-calc mt-2 bold" style="text-align:center; color:#00A8AE;">シミュレーション結果</h5>
				<div class="est-result mt-4">
					<p class="bold" style="background:#00A8AE; color: white;">&nbsp;初月料金</p>
					<dl class="est-Result__init-price">
						<dt>・初期費用</dt>
						<dd id="init_value">110,000</h5>
						</dd>
						<br>
						<p class="mt-3 bold" id="title_for_init_support_options"></p>
						<div>
							<ul id="init_support_options" class=""></ul>
						</div>
						<dt>・機能料金合計</dt>
						<dd id="price-for-options1">0</dd>
						<br>
						<dt class="meo-theme--font-color">初月料金合計</dt>
						<dd id="first-month-price" class="meo-theme--font-color">0</dd>
					</dl>
					<br>
					<br>
					<p class="bold mt-3" style="background:#00A8AE; color: white;">&nbsp;月額料金</p>
					<dl class="est-Result__init-price">
						<dt class="meo-theme--font-color">合計</dt>
						<dd id="total-price" class="meo-theme--font-color">0</dd>
						<br>
						<p class="mt-3 bold" id="selected_options"></p>
						<div>
							<ul id="feature" class=""></ul>
						</div>
					</dl>
				</div>
				<div class="signup-button">
					<%= form_with url: {controller: 'signups', action: 'new'}, method: 'get' do |f| %>
					<input type="hidden" value="MEOチェキ for 複数店舗" name="service" />
					<input type="hidden" value="" id="number_of_business1" name="number_of_business" />
					<input type="hidden" value="" id="feature1" name="feature" />
					<input type="hidden" value="" id="InitSupportOptions1" name="init_support_options" />
					<input type="submit" class="btn btn-lg btn-block btn-primary" value="この内容で申し込む" />
					<% end %>
				</div>
				<div class="quotation-button mt-3">
					<%= form_with url: {controller: 'signups', action: 'quotation'}, method: 'get' do |f| %>
					<input type="hidden" value="MEOチェキ for 複数店舗" name="service" />
					<input type="hidden" value="" id="number_of_business2" name="number_of_business" />
					<input type="hidden" value="" id="feature2" name="feature" />
					<input type="hidden" value="" id="InitSupportOptions2" name="init_support_options" />
					<input type="hidden" value="110000" id="" name="init_price" />
					<input type="hidden" value="" id="price-for-options2" name="price_for_options" />
					<input type="hidden" value="" id="first-month-price1" name="first_month_price" />
					<input type="hidden" value="" id="total-price1" name="monthly_price" />

					<input type="hidden" value="" id="bulk_management1" name="price_for_bulk_management" />
					<input type="hidden" value="" id="meo1" name="price_for_meo" />
					<input type="hidden" value="" id="meo_analysis1" name="price_for_meo_analysis" />
					<input type="hidden" value="" id="sns_package1" name="price_for_sns_package" />
					<input type="hidden" value="" id="advanced_ranking_information1"
						name="price_for_advanced_ranking_information" />
					<input type="hidden" value="" id="review_package1" name="price_for_review_package" />
					<input type="hidden" value="" id="support1" name="price_for_support" />
					<input type="hidden" value="" id="initial_registration1" name="price_for_initial_registration" />

					<input type="submit" class="btn btn-lg btn-block btn-primary" value="見積書ダウンロード" />
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%
=begin%>
<%= render 'shared/how-to-sign-up' %>
<%
=end%>

<%#>=============オリジナルの内容↓↓=================<%>

<%
=begin%>
<%= render 'shared/submit_form'%>
<% end %>

<div class="container multiple">
	<div class="row">
		<div class="border shadow col-md-12 pd1">
			<div class="box">
				<h4>MEOチェキ for 複数店舗</h4>
			</div>
			<div class="container border col-md-12 pd1">
				MEOチェキを導入することで業務の効率化ができます。<br>
				下記フォームに御社の店舗数を入力してください<br>
				工数・コスト削減のシミュレート結果が表示されます。<br>
			</div>
			<div class="box pd1">
				<%= form_tag multiple_stores_path, { method: :get } do %>
				店舗数
				<div class="form-group col-md-3 businesses-count">
					<%= number_field_tag :businesses_count, params[:businesses_count], min: 1, class: "form-control", onchange: "this.form.submit()" %>
				</div>
				店舗
				<% if params[:businesses_count] %>
				<div class="col-md-12 pdf-form">
					<div class="col-md-4">
						<%= text_field_tag :business_name, '', placeholder: "PDFに社名を入れる", class: "form-control inline" %>
					</div>
					<div class="col-md-4">
						<%= submit_tag "シミュレーション結果ダウンロード", {id: "download", name: "download", style: "margin-bottom:1em;background-color:#33CCCC;",class: "btn btn-success inline"} %>
					</div>
				</div>
				<% end %>
				<% end %>
			</div>

			<% if params[:businesses_count] %>
			<div class="row">
				<div class="box pd1 col-md-6 cost-box">
					<table class="col-md-12 multiple" border="1" style="border-collapse: collapse">
						<thead>
							<tr>
								<th class="text-center multiple-th">導入前</th>
								<th class="text-center multiple-th">導入後</th>
								<th class="text-center multiple-th">差額</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<%= number_to_currency(@man_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %>
								</td>
								<td class="text-center">
									<%= number_to_currency(@reductioned_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true)  %>
								</td>
								<td class="text-center" style="color:red;"> -
									<%= @reduction_cost > 0 ? number_to_currency(@reduction_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) : "コスト削減は難しい可能性があります" %>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box pd1 col-md-6">
					<table class="col-md-12 multiple" border="1" style="border-collapse: collapse">
						<thead>
							<tr>
								<th class="text-center multiple-th">導入前</th>
								<th class="text-center multiple-th">導入後</th>
								<th class="text-center multiple-th">差分</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center"><%= @time_cost_hour %> 時間</td>
								<td class="text-center"><%= @reductioned_time_cost_hour %> 時間</td>
								<td class="text-center" style="color:red;"> -
									<%= @time_cost_hour - @reductioned_time_cost_hour %> 時間
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row pd1 multiple">
				<canvas id="cost-chart" class="multiple-chart col-md-6"></canvas>
				<canvas id="time-cost-chart" class="multiple-chart col-md-6"></canvas>
			</div>
			<div class="row pd1 multiple">
				<div class="col-md-6 reduce-box">削減率 <p class="multiple"><%= @reduce_cost_rate %></p>％</div>
				<div class="col-md-6 reduce-box">削減率 <p class="multiple">96</p>％</div>
			</div>
			<div class="box simulate_table">
				<%= render 'simulate_table' %>
			</div>
			<% else %>
			<%= image_tag 'multiple.png', class: "image" %>
			<% end %>
		</div>
	</div>
	<%
=end%>
</div>