<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js' %>
<div class="container multiple">
    <div class="row">
        <div class="border shadow col-md-12 pd1">
            <div class="box">
                <h4>MEOチェキ for 複数店舗</h4>
            </div>
            <div class="container border col-md-12 pd1">
                MEOチェキを導入することで業務の効率化ができます。<br>
                下記フォームに御社の店舗数を入力してください<br>
                工数・コスト削減のシミュレート結果が表示されます。<br>
            </div>
            <div class="box pd1">
                <%= form_tag multiple_stores_path, { method: :get } do %>
                    店舗数
                    <div class="form-group col-md-3 businesses-count">
                        <%= number_field_tag :businesses_count, params[:businesses_count], min: 1, class: "form-control", onchange: "this.form.submit()" %>
                    </div>
                    店舗
                    <% if params[:businesses_count] %>
                        <div class="col-md-12 pdf-form">
                            <div class="col-md-4">
                                <%= text_field_tag :business_name, '', placeholder: "PDFに社名を入れる", class: "form-control inline" %>
                            </div>
                            <div class="col-md-4">
                                <%= submit_tag "シミュレーション結果ダウンロード", {id: "download", name: "download", style: "margin-bottom:1em;",class: "btn btn-success inline"} %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>

            <% if params[:businesses_count] %>
                <div class="row">
                    <div class="box pd1 col-md-6 cost-box">
                        <table class="col-md-12 multiple" border="1" style="border-collapse: collapse">
                            <thead>
                                <tr>
                                    <th class="text-center multiple-th">導入前</th>
                                    <th class="text-center multiple-th">導入後</th>
                                    <th class="text-center multiple-th">差額</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><%= number_to_currency(@man_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) %></td>
                                    <td class="text-center"><%= number_to_currency(@reductioned_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true)  %></td>
                                    <td class="text-center" style="color:red;"> - <%= @reduction_cost > 0 ? number_to_currency(@reduction_cost, :format => "%u%n", :unit => "¥", strip_insignificant_zeros: true) : "コスト削減は難しい可能性があります" %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box pd1 col-md-6">
                        <table class="col-md-12 multiple" border="1" style="border-collapse: collapse">
                            <thead>
                                <tr>
                                    <th class="text-center multiple-th">導入前</th>
                                    <th class="text-center multiple-th">導入後</th>
                                    <th class="text-center multiple-th">差分</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><%= @time_cost_hour %> 時間</td>
                                    <td class="text-center"><%= @reductioned_time_cost_hour %> 時間</td>
                                    <td class="text-center" style="color:red;"> - <%= @time_cost_hour - @reductioned_time_cost_hour %> 時間</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="row pd1 multiple">
                        <canvas id="cost-chart" class="multiple-chart col-md-6"></canvas>
                        <canvas id="time-cost-chart"  class="multiple-chart col-md-6"></canvas>
                </div>
                <div class="row pd1 multiple">
                    <div class="col-md-6 reduce-box">削減率 <p class="multiple"><%= @reduce_cost_rate %></p>％</div>
                    <div class="col-md-6 reduce-box">削減率 <p class="multiple">96</p>％</div>
                </div>
                <div class="box simulate_table">
                    <%= render 'simulate_table' %>
                </div>
                <%#binding.pry%>
            <% else %>
                <%= image_tag 'multiple.png', class: "image" %>
            <% end %>
        </div>
    </div>
</div>
