<!DOCTYPE html>
<html>
  <head>
    <title>Tryhatch 料金シミュレート</title>
    <%= csrf_meta_tags %>
    <meta charset='utf-8'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :additional_script %>
    <%= include_gon %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#33CCCC;">
      <a class="navbar-brand" href="<%= root_path %>" style="color: white;">Tryhatch 料金シミュレート</a>
      <div class="col-1"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="<%= root_path %>" style="color: white;">MEOチェキ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= multiple_stores_path %>" style="color: white;">MEO for 複数店舗</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= rental_plans_path %>" style="color: white;">レンタルプラン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= meo_path %>" style="color: white;">MEO対策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= hosikakutokun_path %>" style="color: white;">星カクトくん</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                        関連リンク
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://tryhatch.co.jp/" target="_blank">トライハッチ公式サイト</a>
                        <a class="dropdown-item" href="https://meo.tryhatch.co.jp/" target="_blank">Local Engine</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://meo.tryhatch.co.jp/services-price" target="_blank">MEO関連サービス料金表</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    </div>
    <div class="row m-4"></div>
    <%= yield %>
    <div class="row m-4"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
  </body>
</html>
